.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #020617;
    color: #fff;
    font-family: Arial, sans-serif;
    /* padding: 0 20px; */
}


.home-hero-section {
    background: url('../Assets/sec1/BG\ Pattern\ \(1\).png');
    background-size: contain;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    /* Prevents repeating the background image */

}

.home-content-container {
    max-width: 900px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-content-container>h1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.2;
}

.home-highlight {
    background: linear-gradient(90deg, rgba(255, 2, 118, 1) 0%, rgba(114, 9, 183, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-content-container>p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #daddd8;
    width: 90%;
}

.home-button-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.home-primary-button {
    background: rgb(63, 55, 201);
    background: linear-gradient(219deg, rgba(63, 55, 201, 1) 0%, rgba(76, 201, 240, 1) 100%);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


.home-secondary-button {
    color: white;

}

.home-primary-button,
.home-secondary-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-secondary-button:hover {
    background-color: rgba(255, 60, 124, 0.1);
}

@media (max-width: 900px) {
    .home-hero-section {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .home-content-container>h1 {
        font-size: 3.5rem;
    }

    .home-content-container {
        max-width: 90%;
    }

    .home-content-container>p {
        font-size: 1rem;
    }

    .home-button-group {
        /* flex-direction: column; */
        gap: 10px;
    }

    .home-primary-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {

    .home-hero-section {
        background-size: contain;
        background-repeat: no-repeat;
        height: 70vh;
    }

    .home-content-container>h1 {
        font-size: 2rem;
    }

    .home-content-container {
        max-width: 99%;
    }

    .home-content-container>p {
        font-size: 1rem;
    }

    .home-button-group {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .home-primary-button,
    .home-secondary-button {
        justify-content: center;
    }

    .home-primary-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

.home-backup {
    margin-top: 50px;
}

.home-backup>h3 {
    color: #daddd8;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.home-backup-imgs {
    display: flex;
    gap: 20px;
    background-color: #8383831e;
    border: 1px solid #838383;
    border-radius: 25px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
}

.home-backup-imgs>img {
    width: fit-content;
    height: auto;
}

@media (max-width: 900px) {
    .home-backup-imgs>img {
        width: 30%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .home-backup-imgs {
        display: flex;
        gap: 10px;
        width: fit-content;
        padding: 0px;
        border-radius: 15px;
    }

    .home-backup-imgs>img {
        width: 30%;
        height: auto;
    }

    .home-backup>h3 {
        color: #daddd8;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
}

/* ----------------------------------Section Two------------------------ */

.home-sec2 {
    background: rgb(111,0,221);
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
    /* max-width: 1400px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

.home-sec2-inner{
    max-width: 1400px;
}

.home-sec2-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .home-sec2-content>img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.home-sec2-content>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    padding: 30px 0px;  
}

.home-sec2-content>p>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 700px) {
    .home-sec2-content>p{
        font-size: 1.3rem;
        padding: 20px 20px;
    }
}

@media (max-width: 500px) {
    .home-sec2-content>p{
        font-size: 1.1rem;
        padding: 30px 10px;
    }
}

.home-sec2-blockchain-inner{
    max-width: 1400px;
    margin-top: 30px;
}

.home-sec2-blockchain-inner>h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.home-sec2-blockchain-inner>h1>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec2-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .home-sec2-blockchain-inner>h1{
        font-size: 2rem;
        /* padding: 20px 20px; */
    }

    .home-sec2-imgs>img{
        width: 27%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .home-sec2-blockchain-inner>h1{
        font-size: 1.2rem;
    }
}


/* ----------------------------section three----------------------- */

.home-sec3 {
    background: rgb(111,0,221);
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
    /* max-width: 1400px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

.home-sec3-inner{
    max-width: 1400px;
}

.home-sec3-heading>h1>span{
    background: linear-gradient(13deg, rgba(255,2,118,1) 0%, rgba(114,9,183,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec3-heading>h1{
    font-size: 3rem;
    font-weight: 600;
    /* padding: 0px 10px; */
    width: 80%;
}

.home-sec3-heading>p{
    color: #daddd8;
    font-size: 1.5rem;
    width: 80%;
}

.home-sec3-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 700px) {
    .home-sec3-heading>h1{
        font-size: 2.3rem;
    }

    .home-sec3-heading>p{
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .home-sec3-heading>h1{
        font-size: 1.4rem;
        width: 90%;
    }

    .home-sec3-heading>p{
        font-size: 0.9rem;
        width: 90%;

    }
}

.containerbody {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .container {
    background: url('../Assets/sec3/Card.png') no-repeat center center/cover;
    border-radius: 16px;
    padding: 20px 40px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); */
    text-align: left;
    max-width: 1000px;
    position: relative;
  }

  .container>h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .container>ul {
    list-style: none;
    padding: 0;
  }

  .container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.3rem;
  }

  /* .container ul li .icon {
    width: 10px;
    height: 10px;
    background-color: #8a4af3;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
  } */

  .icon-eth {
    position: absolute;
    right: 1px;
    top: -28px;
  }

  .chighlight {
    color: #8a4af3;
  }


  /* ------------------------------section three-------------------------- */

<<<<<<< HEAD
  .home-sec4 {
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
=======
  .home-sec2 {
>>>>>>> 2da7aa33c739c28797f7dd72f37562677ebfdae2
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

<<<<<<< HEAD
.home-sec4-inner{
    max-width: 1400px;
    justify-content: center;
}

.home-sec3-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    justify-content: space-evenly;
=======
.home-sec2-inner{
    max-width: 1400px;
>>>>>>> 2da7aa33c739c28797f7dd72f37562677ebfdae2
}

.home-sec4-inner>h1>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec3-card-item{
<<<<<<< HEAD
background: linear-gradient(180deg, rgba(2,6,23,0) 0%, rgba(2,6,23,1) 100%);
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.home-sec4-inner>h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.home-sec3-card-item>p{
    color: #8d96b2;
}

.home-sec3-card-item>h2{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 0px;
    justify-content: flex-start;
}

@media (max-width: 700px) {
    .home-sec3-cards{
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .home-sec3-cards{
        background: transparent;
        max-width: 98%;
        gap: 0px;
    }

    .home-sec3-card-item>img{
        display: none;
    }

    .home-sec3-card-item{
        background: transparent;
        max-width: 98%;
    }

    .home-sec4-inner>h1{
        font-size: 1.5rem;
    }

    .icon-eth {
        display: none;
    }

    .container>h1{
        font-size: 1.3rem;
    }

    .containerbody{
        margin: 20px;
    }

    .container>ul>li{
        font-size: 1rem;
    }

    .home-sec3-heading>p{
        margin-top: 20px;
    }

    .container{
        padding: 20px 10px;
    }
}

/* ------------------------------------------section four----------------- */

.home-sec5 {
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

.home-sec5-inner{
    max-width: 1400px;
    justify-content: center;
    width: 100%;
}

.home-sec5-inner>h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.home-sec5-inner>h1>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec5-imgcon1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(2,6,23,1) 0%, rgba(253,29,29,0) 50%, rgba(2,6,23,1) 100%);
}

.home-sec5-color{
    background: linear-gradient(90deg, rgba(2,6,23,0) 0%, rgba(2,6,23,1) 100%);
    width: 200px;
}

@media (max-width: 1000px) {
    .home-sec5-imgcon1{
        gap: 30px;
        justify-content: center;
    }

    .home-sec5-inner>h1{
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .home-sec5-imgcon1>img{
        width: 36%;
    }

    .home-sec5-inner>h1{
        font-size: 1.7rem;
    }
}

/* ---------------------------section six------------------ */

.home-sec6 {
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

.home-sec6-inner{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.home-sec6-inner>h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.home-sec6-inner>h1>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec6-inner>p{
    font-size: 1.5rem;
    color: #daddd8;
    text-align: center;
    width: 80%;
}

.home-sec6-card-item{
    max-width: 300px;
    background-color: #030a28;
    border-radius: 20px;
}

.home-sec6-card-item>h1{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
}

.home-sec6-card-item>p{
    font-size: 1rem;
    /* font-weight: 600; */
    margin-top: 10px;
    padding: 0px 10px;
    color: #8D96B2;
}

.home-sec6-card-item>button{
    background-color: white;
    margin: 15px 10px;
    padding: 10px 10px;
    color: black;
    border-radius: 12px;
    font-size: 0.9rem;
}

.home-sec6-cards{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
}

.home-sec6-cards-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: #d9d9d9; 
  }
  
  .home-sec6-cards-arrow .icon {
    color: #000; 
  }

  @media (max-width: 1000px) {
    .item1{
        display: none;
    }
  }

  @media (max-width: 700px) {
    .item2{
        display: none;
    }

    .home-sec6-inner>h1 {
        font-size: 2rem;
    }

    .home-sec6-inner>p{
        font-size: 1rem;
    }
  }

  .sec7{
    background-color: #020617;
  }

  .home-sec7-inner{
    background-color: #D9D9D912;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 10px;
  }

  .home-sec7-info>h1{
    font-weight: 600;
    font-size: 1rem;
  }

  .home-sec7-info{
    padding: 10px;
  }

  .home-sec7-info>p{
    font-weight: 500;
    font-size: 0.8rem;
  }

  .sec7>p{
    padding-bottom: 10px;
  }

  .home-sec7-circle{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
  }

  
.sec7{
    padding: 15px 0px;
}


/* ---------------------------------section eight----------------------- */

.home-sec8 {
    background: radial-gradient(circle, rgba(111, 0, 221, 0.37) 0%, rgba(0,0,0,1) 50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction: column;
}

.home-sec8-inner{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
   
}

.home-sec8-inner>h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.home-sec8-inner>h1>span{
    background: linear-gradient(219deg, rgba(63,55,201,1) 0%, rgba(76,201,240,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-sec8-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.home-sec8-logo-item{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid white;
    background-color: #d9d9d91f;
    min-width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-sec8-logo-item>img{
    padding: 10px;
}


@media (max-width: 700px) {
    .home-sec8-inner>h1 {
        font-size: 2rem;
    }

    .home-sec8-logo-item {
        min-width: 200px;
        height: 70px;
    }

    .home-sec8-logos {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .home-sec8-inner>h1 {
        font-size: 1.8rem;
        width: 80%;
    }

    .home-sec8-logo-item {
        min-width: 130px;
        height: 60px;
    }

    .home-sec8-logos {
        gap: 10px;
    }

    .home-sec8-logo-item>img{
        width: 100%;
    }
=======
    background: linear-gradient(180deg, rgba(2,6,23,0.22470238095238093) 0%, rgba(2,6,23,1) 100%);
>>>>>>> 2da7aa33c739c28797f7dd72f37562677ebfdae2
}